# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres:DB_URL"


PORT=PORT_HERE
APP_URL=app_url
BCRYPT_SALT_ROUND=bcrypt_salt_round
JWT_ACCESS_SECRET=jwt_secret


# SSL COMMERZE
SSL_STORE_ID=ssl_store_id
SSL_STORE_PASSWORD=ssl_store_password

